body {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.test{
    background-color: #1F2937;
    
}

.nav {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}

.nav .left {
    font-weight: 900;
    font-size: 24px;
}

.nav .right {
    color: #E5E7EB;
    font-size:18px;
    display: flex;
    gap: 20px;
}

/*about/hero */
.about{

    background-color: #1F2937;
}
.about .display{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap:150px;
}

.about .image{
    display: flex;
    justify-content: flex-end;
}

.about .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    align-content: center;
    gap:10px;
}

.about img{
    width: auto;
    max-width: 483px;
}
.about button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.about .header {
    font-size: 48px;
    font-weight: 900;

}

.about .text {
    font-size: 18px;
    color: #E5E7EB;
}

.about .display {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
/* Random info*/
.info{
    padding:10px;
    background-color: white;
    color: black;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.info .header{
    display: flex;
    justify-content: center;
}

.info .content{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-content: flex-end;
    gap:100px;
}
.info .header{
    color:#1F2937;
    padding:20px;
    font-size: 36px;
    font-weight: 900;
}

.info .content img{
    width:100%;
    max-width: 200px;
    max-height:200px;
    height:auto;
    border: 2px solid #3882F6;
    border-radius: 12%;
}

.one , .two, .three, .four{
    display: inline-block;
    text-align: center;
    width:100%;
    max-width: 200px;
    height:auto;
}

.quote{
    background-color: #E5E7EB;
    padding-top: 40px;
    padding-bottom: 40px;
}
.quote .content{
    justify-content: center;
    font-style: italic;
    color:#1F2937;
    display: flex;
    flex-direction: column;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-size: 36px;
}

.quote .author{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
}

/* Alert*/

.alert{
    background-color: white;
}

.alert .split{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.alert .text, .signup{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.alert .headerr{
    font-size: 26px;
    font-weight: bolder;
}

.alert .signup button{
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

/*Footer */
.footer{
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}