body {
    background-color: gray;
}

.info .img {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 75px;
}

button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    width: 100px;
    height: 30px;
    font-weight: bolder;

}